*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #d5bdaf;
    font-family: 'Raleway', sans-serif;
    color: #22223b;
}

h1 {
    margin-bottom: 10%;
    font-weight: 500;
    line-height: 1.5;
}

.bold-text {
    font-weight: 800;
}

.container {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    overflow: hidden;
}

img {
    width: 50%;
    height: auto;
    cursor: pointer;
}
